body {
  margin: 0;
}
.container-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  background: #64a19d;
  padding: 15px;
}
.container-1 .img {
  width: 100%;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 100ms ease-out;
}
.container-1 .img:hover {
  transform: scale(1.04);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.project-cards {
  padding: 0 130px;
}

.img-projects {
  width: 400px;
}

@media only screen and (max-width: 800px) {
  .project-cards {
    padding: 0;
  }
  .container-1 .img {
    width: 100%;
    display: block;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}
